{% extends './base.html' %}
{% block content %}

<h1>Report Form</h1>

<h2>Staff List</h2>
<ul>
    {% for mem in staff%}
        <li>{{mem}}</li>
    {% endfor %}
</ul>

<form method='POST' name='report-form'> {% csrf_token %}
    {{staff_form.as_p}}
    {{date_form.as_p}}
    {% comment %} <label>Start Date</label>
    <input type='date' name='start_date' required>
    <br>
    <label>End Date</label>
    <input type='date' name='end_date' required>
    <br> {% endcomment %}
    <input type='submit' value='Submit'/>
</form>

<table class='report-table'>
    <tr>
        <th>Date</th>
        <th>Items Sold</th>
        <th>Total Price</th>
        <th>Commission Earned</th>
    </tr>
    {% for report in reports %}
        <tr>
            <td>{{report.date}}</td>
            <td>{{report.items}}</td>
            <td>{{report.total_price}}</td>
            <td>{{report.commission}}</td>
        </tr>
    {% endfor %}
    <tr>
        <th>TOTAL</th>
        <th></th>
        <th>{{total_price}}</th>
        <th>{{total_commission}}</th>
    </tr>
</table>
{% endblock %}