{% extends './base.html' %}
{% load static %}
{% block content %}
<h1>Welcome to the Sale Form</h1>

<h2>Staff List</h2>
<ul>
    {% for mem in staff%}
        <li>{{mem}}</li>
    {% endfor %}
</ul>

<h2>Products List</h2>
<ul>
    {% for p in products%}
        <li>{{p}}</li>
    {% endfor %}
</ul>
<h2>Cart</h2>
<ul>
    {% for i in items%}
        <li>{{i}}</li>
    {% endfor %}
</ul>

{% if messages %}
    {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{message}}</p>
    {% endfor %}
{% endif %}

<form method='POST'>{% csrf_token %}
    {{item_form.as_p}}
    <input type='submit' value='Submit'/>
</form>

<form method='POST'>{% csrf_token %}
    {{staff_form.as_p}}
    <input type='submit' value='Submit'/>
</form>
<label>Total Price</label>
<input type='text' value="${{total}}" readonly></input>

<script>
    setTimeout(() => {
        document.getElementsByClassName('success')[0].style.display = 'none';
    }, 5000);
</script>
{% endblock %}